<% @tracks.each do |track| %>
    <p>
        <%= "#{track.name} - #{track.artists.first.name}  _  #{track.album.name}" %>
    </p>
<% end %>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
